html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

div#container {
    height: 100%;
    transition: all 0.5s;
}

div#container.transition {
        opacity: 0;
}